---
import TimelinElement from "./TimelinElement.astro";
const experience = [
  {
    company: "Kavak",
    role: "NetSuite SR Developer • Backend Developer",
    duration: "Jul. 2021 / Oct. 2023",
    durationRelative: "2 years 5 months",
    text: `
<p>As a NetSuite Senior Developer at Kavak my primary responsibility was to successfully integrate 
NetSuite with a core banking application. The information stored in NetSuite regarding clients and their financing 
requests needed to be validated, normalized, and then sent to the core banking system for management by the 
corresponding operations team.</p>
<br />
<p>Some of the activities at Kavak included:</p>
<ul class="my-4 pl-10 list-disc">
  <li>Planning and understanding new requirements</li>
  <li>Script development using SuiteScript 2.0 and 2.1</li>
  <li>Creation and maintenance of Custom Records</li>
  <li>Maintenance of reports and saved searches</li>
  <li>Training operations users on NetSuite usage</li>
  <li>Development of process automation</li>
  <li>Development and maintenance of the CI/CD process for deployment</li>
</ul>
<p>During my two years at Kavak, one of my main motivations was to "modernize" and utilize the new JavaScript standard 
in the new scripts we were developing. As a result, I created a series of videos for the company to explain JavaScript 
topics such as:</p>
<ul class="my-4 pl-10 list-disc">
  <li>The use of <strong>let</strong> and <strong>const</strong>, and why to replace the use of <strong>var</strong></li>
  <li>Object and array destructuring</li>
  <li>The use of <strong>map</strong>, <strong>reduce</strong>, and <strong>filter</strong></li>
  <li>  JavaScript and Object-Oriented Programming (OOP)</li>
  <li>The use of the <strong>N/query</strong> module</li>
  <li>The purpose of <strong>SDF</strong> in our NetSuite projects</li>
</ul>
<p>With this, and in addition to contributing to the development of CI/CD in our repository, I achieved high performance 
in my evaluation in my first year at the company. Following other achievements, I took on the responsibility of creating 
a service for sending and receiving events to and from NetSuite. This project was developed using the Golang language 
with the intention of replacing the old service and gaining better visibility into metrics and logs. 
As a result, all requests from all microservices in the company were handled by this new API.</p>`,
  },
  {
    company: "BeExponential",
    role: "NetSuite Developer - Backend Developer",
    duration: "Sep. 2019 / Jul. 2021",
    durationRelative: "1 year 11 months",
    text: `
    <p>In this company, it was my first exposure to NetSuite. I underwent a training period to familiarize myself with 
the platform, receiving guidance from a senior developer during this stage. Gradually, I became involved in client 
developments, initially handling requirements that were mostly support-related activities.</p>
<p>These tasks included adding fields to records/transactions, creating custom lists, building saved searches for reporting purposes,
and providing access to new users.</p>
<br />
<p>Later on, I joined the development team on a project for a client, a popular department store in the city of Mérida, Yucatán. 
In this project, I integrated from its early stages, and some of my activities included:</p>
<ul class="my-4 pl-10 list-disc">
  <li>Gathering requirements</li>
  <li>Script development using SuiteScript 2.0 and 2.1</li>
  <li>Creation and maintenance of custom records and transactions</li>
  <li>Developing saved searches for reporting</li>
  <li>User training on the use of the developed solutions</li>
  <li>Providing level 1 and level 2 support for users</li>
  <li>Repository maintainer for GIT</li>
  <li>Training new developers on NetSuite</li>
</ul>
<p>This client and project were among the largest the company had while I was working with them, and I practically worked with 
this client for the entire two years I was with the company. At some point during this period, I led a small team and was 
responsible for identifying and gathering new requirements. This experience allowed me to kickstart and develop my career 
as a NetSuite Developer, enabling me to achieve several initial goals set with the client. Consequently, we extended our contract 
with them and undertook new developments.</p>`,
  },
  {
    company: "Simetrical",
    role: "FullStack Developer",
    duration: "May. 2019 / Sep. 2019",
    durationRelative: "5 months",
    text: `
    <p>My time at Simetrical was brief, driven by circumstances in my life that led me to make the decision to leave a little 
earlier than I would have preferred. Nevertheless, it was a period of significant learning as it marked the first time I worked 
with a diverse team comprising individuals from various fields such as design, QA, operations, etc. 
This was a departure from my previous job, where the team was much smaller.</p>
<br />
<p>Despite the short duration, I was fortunate enough to initiate a new project and stay until its launch. 
The project involved developing a satisfaction survey application. My main responsibilities included:</p>
<ul class="my-4 pl-10 list-disc">
  <li>Frontend development of the web application using the Vue Freamework</li>
  <li>API development using Laravel</li>
  <li>Collaboration with the design team for new proposals</li>
  <li>Development and design of the database using MongoDB</li>
</ul>
<p>Even though my time was short, it was highly satisfying. During team meetings, many of my contributions were add into 
the project, and the team leader gave us significant freedom to collaborate on the development. In the end, we successfully 
launched the product within the specified timeframe and with the features outlined in the roadmap.</p>`,
  },
  {
    company: "Efisense Interactive",
    role: "FullStack Developer - Mobile Developer",
    duration: "Jun. 2015 / May. 2019",
    durationRelative: "4 years",
    text: `
    <p>Efisense was the first place where I was given the opportunity to begin my training as a software developer. 
Initially, I started by handling some support activities for one of the two in-house products being developed. 
Gradually, my involvement in development tasks increased. It was a small company, and often, we needed to perform 
various activities depending on the project we were working on. Over the course of the 4 years I spent at Efisense, 
some of the activities I carried out included:</p>
<ul class="my-4 pl-10 list-disc">
  <li>Gathering requirements</li>
  <li>Help Desk Agent Level 1 and Level 2</li>
  <li>Frontend development</li>
  <li>Backend development</li>
  <li>Database Administrator</li>
  <li>Conducting product training sessions</li>
  <li>Mobile application development</li>
  <li>Installation of physical services</li>
  <li>Installation of closed-circuit security cameras</li>
  <li>Installation and maintenance of servers</li>
</ul>
<p>Certainly, Efisense was the place where I could shape my skills, and it was where I found my mentors. The lessons 
I learned from them have been valuable throughout my career. Since then, I have always tried to apply what I learned there, 
continue learning, and remember my beginnings. This allows me to consistently contribute to the training of junior developers.</p>`,
  },
];
---

<section id="timeline" class="px-10 mb-[150px]">
  <h1 class="font-extrabold text-3xl mb-9">Experience</h1>

  <ol class="relative border-s border-gray-200">
    {
      experience.map(({ company, role, duration, durationRelative, text }) => (
        <li class="mb-10 ms-4">
          <TimelinElement
            company={company}
            role={role}
            duration={duration}
            durationRelative={durationRelative}
            text={text}
          />
        </li>
      ))
    }
  </ol>
</section>
